charts_server/*
converter/*
embed_code_test_python/*
file_server/*
gpio_python/*
hardware/*
imageprocessing/*
live_charts/*
normalization/*
opencv_test/*
opencv_video/*
raspicam_cpp/*
wiringpi_cpp/*
*.jpg
*.py
